
*{
    box-sizing: border-box;
}
.title-item{
  
    font-family: 'Didact Gothic', sans-serif;
    font-size: 60px;
    color: rgb(34, 33, 33);
}
.bold{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    position: relative;
    top: -40px;
}
.rainbow{
    position: relative;
    top: -30px;
}
.summary{
    font-size: 20px;
    width: 80vh;
    font-family: 'Didact Gothic', sans-serif;

}
.row{
    padding: 40px;
}
.item{
    display: flex;
}
.part{
    padding: 20px;
}
.studying-image{
        width:280px;
        height: 280px;
        cursor: pointer;
   
}
.about{
    font-size: 20px;
    font-family: 'Didact Gothic', sans-serif;

}
.part-title{
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
}
.text{
    padding: 0 150px 0 30px;
    width: 450px;
}
.etrafli{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
@media screen and(min-width:760px) and(max-width:1495px){
     .main{
          display: block;
       }
   
       .row{
           .about{
            font-size: small;

           }

       }
   }
@media screen  and(max-width:760px){
    .item{
       img{
           display: none;
       }
       .about{
        display: block;
        font-size: small;
      }
      }
      
 }
   
 


